<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="home"></ion-icon>
      Dashboard
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="modules">
        <div class="avatar">
          <img src="https://cdn-icons-png.flaticon.com/512/2922/2922510.png" alt=""/>
        </div>
        <ion-text>
          <h1>Welcome!</h1>
          <h2 class="name">{{usersinfo.firstname}}</h2>
          <br>
        </ion-text>
      </div>
    
    <ion-grid>
      <ion-row>
      <ion-col size="6">
        <ion-card color="light" routerLink="/tabs/tab1" routerDirection="root">
          <img src="assets/icon/inventory.png"/>
          <ion-text>
            <h2>Inventories</h2>
          </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="light" routerLink="/tabs/tab2" routerDirection="root">
          <img src="assets/icon/reminder.png"/>
          <ion-text>
            <h2>Reminders</h2>
          </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="light">
          <img src="assets/icon/recipe.png"/>
          <ion-text>
            <h2>Recipes</h2>
          </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="light">
          <img src="assets/icon/calories.png"/>
          <ion-text>
            <h2>Calories</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      </ion-row>

      </ion-grid>
</ion-content>