<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

 
  <!-- <p>{{reminderlist |json}}</p>
  <p>{{reminderlist[0].quantity}}</p>
  <p>{{reminderlist[1].name}}</p> -->

    <!-- <p *ngFor="let i of reminderlist"> {{'i.daystoexpiry' }} </p> -->
    <!-- <p *ngFor="let i of reminderlist">  ExpiryDate: {{ i.daystoexpiry }}</p> -->
    <!-- <div *ngFor="let data of responseData" class="dataHolder">
      <div>{{data.title}}</div>
      <div>{{data.type}}</div>
      <div>{{data.msg}}</div>
       Message sent on: <div>{{data.sent}}</div>
       <div style="font-weight:bold;">sent {{calculateDiff(data.sent)}} days ago</div>
    </div> -->

    <!-- <div>sent {{calculateDiff()}} days ago</div> -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="activity-group">
      <ion-list-header class="list-header-custom">
       <h2>Today</h2> 
      </ion-list-header>
      <ion-item class="activity-item" *ngFor="let i of reminderlist">
        <div *ngIf="i.isexpired">
          <ion-list>
            <ion-item disabled="true" lines="none">
              <ion-avatar class="avatar-md" slot="start">
                <img src="assets/icon/{{ i.name }}.png" alt="">
              </ion-avatar>
              <ion-label>
                <h2>{{ i.name | titlecase}}</h2>
                <h3 (click)="showAlert()">Expired {{ i.daystoexpiry }} day(s) ago. 
                    <!-- {{calculateDiff()}}s -->
                  </h3>
                <!-- <span class="text-muted"> {{calculateDiff()}}d</span> -->
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      
        <div *ngIf="!i.isexpired">
          <ion-list>
            <ion-item disabled="false" lines="none">
              <ion-avatar class="avatar-md" slot="start">
                <img src="assets/icon/{{ i.name }}.png" alt="">
              </ion-avatar>
      
              <ion-label>
                <h2>{{ i.name| titlecase }}</h2>
                <h3 routerLink="/tabs/tab5/{{i.name}}" routerDirection="root">Will be expiring in {{ i.daystoexpiry }} day(s).
                  <!-- {{calculateDiff()}}s  -->
                </h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      
      </ion-item>

    </div>
    <br>
   
    <!-- <div *ngFor="let i of reminderlist">
    <div *ngIf = (getexpired)>
      {{i.name}} -->

    <!-- </div>

  </div> -->
  </ion-content>
 

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  

