<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

 
  <!-- <p>{{reminderlist |json}}</p>
  <p>{{reminderlist[0].quantity}}</p>
  <p>{{reminderlist[1].name}}</p> -->

    <!-- <p *ngFor="let i of reminderlist"> {{'i.daystoexpiry' }} </p> -->
    <!-- <p *ngFor="let i of reminderlist">  ExpiryDate: {{ i.daystoexpiry }}</p> -->
    <!-- <div *ngFor="let data of responseData" class="dataHolder">
      <div>{{data.title}}</div>
      <div>{{data.type}}</div>
      <div>{{data.msg}}</div>
       Message sent on: <div>{{data.sent}}</div>
       <div style="font-weight:bold;">sent {{calculateDiff(data.sent)}} days ago</div>
    </div> -->

    <!-- <div>sent {{calculateDiff()}} days ago</div> -->
    
    
    <div class="activity-group">
      <ion-list-header class="list-header-custom">
       <h2>Today</h2> 
      </ion-list-header>
      <ion-item class="activity-item" *ngFor="let i of reminderlist" >
      <!-- <ion-row class="activity-item" *ngFor="let i of reminderlist"> -->
        <ion-col size="3">
          <ion-avatar class="avatar-md">
            <img src="assets/icon/{{ i.name }}.png" alt=""> 
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          
          <div *ngIf="i.isexpired;then expired else notExpired" ></div> 
          
          <ng-template #expired>
            <strong style="color:rgb(146, 146, 160)">{{ i.name|uppercase }}</strong>
             <p (click)="showAlert()">Expired {{ i.daystoexpiry }} days ago. {{calculateDiff()}}s</p> 
            <!-- <span class="text-muted"> {{calculateDiff()}}d</span> -->
          </ng-template>  

          <ng-template #notExpired>
            <strong>{{ i.name|uppercase }}</strong>
             <p routerLink="/tabs/tab5/{{i.name}}" routerDirection="root">Will be expire in {{ i.daystoexpiry }} days. {{calculateDiff()}}s </p> 
            <!-- <span class="text-muted"> {{calculateDiff()}}d</span> -->
          </ng-template>

        </ion-col>      
      </ion-item>
    </div>
    <br>
   
    <!-- <div *ngFor="let i of reminderlist">
    <div *ngIf = (getexpired)>
      {{i.name}} -->

    <!-- </div>

  </div> -->
  </ion-content>
 

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  

