<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <!-- <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Profile
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
       </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="https://cdn-icons-png.flaticon.com/512/2922/2922510.png" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="name">{{usersinfo.firstname}}</h3>
          <h5 class="job">Developer</h5>
         
        </div>


        <ion-button  expand="full" color="primary">
          <ion-icon name="mail-outline"></ion-icon>
          {{usersinfo.email}}   </ion-button>
        <ion-button expand="full" color="secondary">
          <ion-icon name="logo-twitter"></ion-icon>          
           Azri on Twitter</ion-button>
        <ion-button expand="full" color="tertiary">
          <ion-icon name="call-outline" ></ion-icon>
          {{usersinfo.phone}}</ion-button>
   
      </div>
    </div>
</ion-content>