<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title>
      Trend
    </ion-title>
    <!-- <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Profile
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
       </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Food Wastage</ion-list-header>
  <ion-card class="chart-card">
    <ion-card-header>
      <ion-card-subtitle>Overall Food Waste for this week</ion-card-subtitle>
    
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="chart-card">
    <ion-card-header>
      <ion-card-subtitle>% of Food Waste</ion-card-subtitle>
    
    </ion-card-header>
    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>